<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Online Store</title>
    <link rel="icon" href="/assets/logo/baseline_store_black_48dp.png">
    <link rel="apple-touch-icon" sizes="96x96" href="/assets/logo/baseline_store_black_48dp.png">

    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <!-- development -->
    <script src="/assets/js/maxvue.js"></script>
    <!-- minified for production -->
    <!-- <script src="/assets/js/minvue.js"></script> -->
    <!-- cdn vue js -->
    <!-- 
    <script src="https://unpkg.com/vee-validate@2.0.0-rc.25/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.js"></script> 
    -->



</head>

<body>
    <div class="nav-bar">
        <img class="header-img" src="/assets/logo/baseline_store_white_48dp.png" />
        <span class="header-text">Online Store</span>
    </div>

    <div id="app">
        <div class="product-list">
            <span class="popular_product">Popular: </span>
            <span class="item noselect" v-for="item, index in products" :key="index"
                @click="setProductId(item.id)">{{item.name}}</span>
        </div>

        <Cart :products="cartProduct" :allproducts="products"></Cart>
        <br />
        <br />

        <Product 
        v-for="item, index in products" 
        :product="item" 
        :key="index"
        @add-to-cart="addToCart"
        @remove-from-cart="removeFromCart"
        ></Product>
    </div>
    <script src="/assets/page/cart.vue.js"></script>
    <script src="/assets/page/product_review.vue.js"></script>
    <script src="/assets/page/product.vue.js"></script>
    <script src="/assets/js/main.js"></script>

    

</body>

</html>